.divider {
    border-right: 1px solid black;
}

.scrollTable {
    height:300px;
    overflow-y: scroll;
}

.scrollTable thead th {
    position: sticky;
    top: 0;
}

/*.tableFixHead,*/
/*.tableFixHead td {*/
/*    box-shadow: inset 1px -1px #000;*/
/*}*/

/*.tableFixHead th {*/
/*    box-shadow: inset 1px 1px #000, 0 1px #000;*/
/*}*/
