<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>Hello, world!</title>
  </head>
  <body>
        <div class="row mt-2">
            <div class="col-12 "></div>
                <div class="card text-center mx-auto ">
                    <div class="card-header">
                        <ul class="nav nav-tabs card-header-tabs">
                            <li class="nav-item">
                                <a class="nav-link active" id="hitters">Hitters</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link"  >Pitchers</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="catcher">C</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="1b">1B</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="2b">2B</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="3b">3B</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="ss">SS</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="of">OF</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="dh">DH</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="mi">MI</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="ci">CI</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">SP</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">RP</a>
                            </li>
                        </ul>
                    </div>
                    <div class="card-body table-wrapper p-0">
                        <div class="scrollTable">
                            <table id="hitters" class="h-100 w-100 table tableVert table-striped table-dark">
                                <thead>
                                    <tr>
                                        {% for item in hitter_cols_names%}
                                            <th>{{item}}</th>
                                        {% endfor %}
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for item in hitter_rows %}
                                        <tr>
                                            {% for i in range(num_hitter_cols) %}
                                                <td>{{item[i]}}</td>
                                            {% endfor %}
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                            <table id="pitchers" class="h-100 w-100 table tableVert table-striped table-dark">
                                <thead>
                                    <tr>
                                        {% for item in pitcher_cols_names%}
                                            <th>{{item}}</th>
                                        {% endfor %}
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for item in pitcher_rows %}
                                        <tr>
                                            {% for i in range(num_pitcher_cols) %}
                                                <td>{{item[i]}}</td>
                                            {% endfor %}
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
        </div>
        <div class="row">
            <div class="col-5 text-center mt-2">
                <h3>Hitting Categories:</h3>
            </div>
            <div class="col-1 divider">
            </div>
            <div class="col-1">
            </div>
            <div class="col-5 text-center mt-2">
                <h3>Pitching Categories:</h3>
            </div>
        </div>
        <form action="/", methods="POST">
            <div class="row">
                <div class="col-1 mt-2">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="ab" value="AB" name="hitter">
                        <label class="form-check-label" for="defaultCheck1">
                            AB
                        </label>
                    </div>
                    <div class="form-check form-check-inline mt-1">
                        <input class="form-check-input" type="checkbox" id="r" value="R" name="hitter" checked>
                        <label class="form-check-label" for="defaultCheck2">
                            R
                        </label>
                    </div>
                    <div class="form-check form-check-inline mt-1">
                        <input class="form-check-input" type="checkbox" id="hr" value="HR" name="hitter" checked>
                        <label class="form-check-label" for="defaultCheck2">
                            HR
                        </label>
                    </div>
                </div>
                <div class="col-1 mt-2">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="rbi" value="RBI" name="hitter" checked>
                        <label class="form-check-label" for="defaultCheck2">
                            RBI
                        </label>
                    </div>
                    <div class="form-check form-check-inline mt-1">
                        <input class="form-check-input" type="checkbox" id="SB" value="sb" name="hitter" checked>
                        <label class="form-check-label" for="defaultCheck2">
                            SB
                        </label>
                    </div>
                    <div class="form-check form-check-inline mt-1">
                        <input class="form-check-input" type="checkbox" value="AVG" name="hitter" id="avg" checked>
                        <label class="form-check-label" for="defaultCheck2">
                            AVG
                        </label>
                    </div>
                </div>
                <div class="col-1 mt-2">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="OBP" name="hitter" id="obp">
                        <label class="form-check-label" for="defaultCheck2">
                            OBP
                        </label>
                    </div>
                    <div class="form-check form-check-inline mt-1">
                        <input class="form-check-input" type="checkbox" value="H" name="hitter" id="h">
                        <label class="form-check-label" for="defaultCheck2">
                            H
                        </label>
                    </div>
                    <div class="form-check form-check-inline mt-1">
                        <input class="form-check-input" type="checkbox" value="DOUBLES" name="hitter" id="doubles">
                        <label class="form-check-label" for="defaultCheck2">
                            DOUBLES
                        </label>
                    </div>
                </div>
                <div class="col-1 mt-2">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="TRIPLES" name="hitter" id="triples">
                        <label class="form-check-label" for="defaultCheck2">
                            TRIPLES
                        </label>
                    </div>
                    <div class="form-check form-check-inline mt-1">
                        <input class="form-check-input" type="checkbox" value="WALKS" name="hitter" id="walks">
                        <label class="form-check-label" for="defaultCheck2">
                            WALKS
                        </label>
                    </div>
                    <div class="form-check form-check-inline mt-1">
                        <input class="form-check-input" type="checkbox" value="STRIKEOUTS" name="hitter" id="strikeouts">
                        <label class="form-check-label" for="defaultCheck2">
                            STRIKEOUTS
                        </label>
                    </div>
                </div>
                <div class="col-1 mt-2">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="SLG" name="hitter" id="slg">
                        <label class="form-check-label" for="defaultCheck2">
                            SLG
                        </label>
                    </div>
                    <div class="form-check form-check-inline mt-1">
                        <input class="form-check-input" type="checkbox" value="OPS" name="hitter" id="ops">
                        <label class="form-check-label" for="defaultCheck2">
                            OPS
                        </label>
                    </div>
                </div>
                <div class="col-1 divider">
                </div>
                <div class="col-1">
                </div>
                <div class="col-1 mt-2">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                        <label class="form-check-label" for="defaultCheck1">
                            IP
                        </label>
                    </div>
                    <div class="form-check form-check-inline mt-1">
                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck2" checked>
                        <label class="form-check-label" for="defaultCheck2">
                            K
                        </label>
                    </div>
                    <div class="form-check form-check-inline mt-1">
                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck2" checked>
                        <label class="form-check-label" for="defaultCheck2">
                            W
                        </label>
                    </div>
                </div>
                <div class="col-1 mt-2">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck2" checked>
                        <label class="form-check-label" for="defaultCheck2">
                            SV
                        </label>
                    </div>
                    <div class="form-check form-check-inline mt-1">
                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck2" checked>
                        <label class="form-check-label" for="defaultCheck2">
                            ERA
                        </label>
                    </div>
                    <div class="form-check form-check-inline mt-1">
                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck2" checked>
                        <label class="form-check-label" for="defaultCheck2">
                            WHIP
                        </label>
                    </div>
                </div>
                <div class="col-1 mt-2">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck2">
                        <label class="form-check-label" for="defaultCheck2">
                            ER
                        </label>
                    </div>
                    <div class="form-check form-check-inline mt-1">
                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck2">
                        <label class="form-check-label" for="defaultCheck2">
                            H
                        </label>
                    </div>
                    <div class="form-check form-check-inline mt-1">
                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck2">
                        <label class="form-check-label" for="defaultCheck2">
                            WALKS
                        </label>
                    </div>
                </div>
                <div class="col-1 mt-2">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck2">
                        <label class="form-check-label" for="defaultCheck2">
                            HR
                        </label>
                    </div>
                    <div class="form-check form-check-inline mt-1">
                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck2">
                        <label class="form-check-label" for="defaultCheck2">
                            G
                        </label>
                    </div>
                    <div class="form-check form-check-inline mt-1">
                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck2">
                        <label class="form-check-label" for="defaultCheck2">
                            GS
                        </label>
                    </div>
                </div>
                <div class="col-1 mt-2">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck2">
                        <label class="form-check-label" for="defaultCheck2">
                            L
                        </label>
                    </div>
                    <div class="form-check form-check-inline mt-1">
                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck2">
                        <label class="form-check-label" for="defaultCheck2">
                            CG
                        </label>
                    </div>
                </div>
                <div class="w-100"></div>
                <div class="col-5"></div>
                <div class="col-2 text-center mt-2">
                    <button  formmethod="post" type="submit" class="post-btn btn btn-secondary mx-auto text-center">Submit</button>
                </div>
            </div>
        </form>
    </div>



    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  <script src="static/js/home.js"></script>
  </body>
</html>